@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");
/* MIXINS */
/*
@media (max-width: $screen-xs-max) { ... }
@media (min-width: $screen-sm-min) { ... }
@media (max-width: $screen-sm-max) { ... }
@media (min-width: $screen-md-min) { ... }
@media (max-width: $screen-md-max) { ... }
@media (min-width: $screen-lg-min) { ... }
*/
html, body {
  height: 100%; }

h1, h2, h3, h4, h5 {
  font-family: 'Maven Pro', sans-serif; }

a {
  color: #24356F; }

a:hover {
  text-decoration: none; }

.bgcolor2 {
  background-color: #0CA3DD; }

.bgcolor3 {
  background-color: #C41D69; }

.bgcolor4 {
  background-color: #24356F; }

.bgcolor5 {
  background-color: #F68A20; }

.bgcolor8 {
  background-color: #8BC540; }

.wrap {
  display: table;
  height: 100%;
  width: 100%; }

.col-home {
  display: table-cell;
  background-color: #0CA3DD;
  width: 60%;
  vertical-align: middle;
  text-align: center; }

.img-responsive {
  margin: auto; }

.col-login {
  display: table-cell;
  width: 40%; }

.col-login .loginbox {
  background-color: #203C74;
  color: #ffffff;
  background-image: url(/img/bgwave02.jpg);
  background-position: bottom;
  background-repeat: repeat-x;
  padding-bottom: 50px;
  padding-top: 50px; }

.col-login .loginbox h1 {
  text-align: center;
  font-weight: 700;
  font-size: 20px; }

.col-login .loginbox h1 span {
  font-weight: lighter;
  display: block; }

.col-login .loginform {
  text-align: center;
  padding: 10%; }

.col-login .loginform label {
  font-size: 20px; }

.col-login .logininfo {
  text-align: center;
  color: #0CA3DD; }

.col-login .logininfo h3 {
  text-align: center;
  display: block;
  padding: 30px 20%;
  margin: 0;
  color: #0CA3DD; }

.col-login .logininfo h3 span {
  font-weight: 700;
  font-size: 50px; }

/* home */
.column {
  display: table-cell;
  width: 50%;
  vertical-align: top; }

.column .container-fluid {
  position: relative; }

.incolumn {
  height: 100%;
  overflow: auto; }

.menuprin {
  display: table;
  height: 100%;
  width: 100%; }

.menuprin .rowtable {
  display: table-row;
  height: 50%; }

.menuprin .rowtable a {
  display: table-cell;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-size: 30px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease; }

.menuprin .rowtable a:hover {
  opacity: 0.7; }

.menuprin .rowtable a i {
  display: block;
  font-size: 60px; }

.menuprin .rowtable a.btn-01 {
  background-color: #0CA3DD; }

.menuprin .rowtable a.btn-02 {
  background-color: #C41D69; }

.menuprin .rowtable a.btn-03 {
  background-color: #24356F; }

.menuprin .rowtable a.btn-04 {
  background-color: #F68A20; }

/* HEADER */
.headcont {
  display: block;
  text-align: center;
  padding: 15px 0; }

.headcont .img-responsive {
  margin: auto;
  max-width: 100px; }

.headcont .bigicon {
  font-size: 25px; }

.headcont .bigicon.chat {
  color: #1AAD4A; }

/* HOME */
.home .bgwave {
  background-color: #24356F;
  background-image: url(/img/bgwave01.jpg);
  background-position: top;
  background-repeat: repeat-x;
  padding: 50px 15px 15px 15px;
  margin-bottom: 20px; }

.home .bgwave h1 {
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 20px; }

.home .bgwave h1 span {
  font-weight: lighter;
  display: block; }

.post {
  display: block;
  border-bottom: 1px dashed #8BC540;
  padding: 15px; }

.post:nth-child(odd) {
  background-color: #ffffff; }

.post:nth-child(even) {
  background-color: #F2F2F2; }

.post h3 {
  font-weight: 700;
  color: #24356F; }

/*CONTENT*/
.inheader {
  display: block;
  margin: 0 15px 15px 15px;
  text-align: center;
  color: #ffffff;
  padding: 15px; }

.inheader h1 {
  margin: 0; }

.event {
  background-size: cover;
  color: #ffffff;
  margin-bottom: 15px; }

.event h3 {
  margin: 0;
  color: #ffffff;
  text-shadow: 2px 3px 3px #000000; }

.event .caption {
  padding: 100px 20px 20px 20px;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.71) 86%, rgba(0, 0, 0, 0.71) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b5000000',GradientType=0 ); }

.event .countdown {
  display: block;
  float: right;
  background-color: #0CA3DD;
  padding: 10px; }

/*# sourceMappingURL=app.css.map */
